.section_slider {
	background-color: rgba(#001464, 0.5);
	height: 100%;
	left: 0;
	opacity: 0.1;
	pointer-events: none;
	position: absolute;
	top: 0;
	transform: translateY(100%);
	transition: transform 1s ease-out, opacity 1s ease-out;
	width: 100%;
	z-index: 100;

	&.active {
		opacity: 1;
		pointer-events: all;
		transform: translateY(0%);
	}

	.inner {
		height: 80%;
		left: 10%;
		position: absolute;
		top: 10%;
		width: 80%;
	}

	.slick-list,
	.slick-track {
		height: 100%;
		width: 100%;
	}

	&>.slick-slider {
		@include cover;
		display: flex;

		&>.slick-list {
			&>.slick-track {
				align-items: stretch;
				display: flex;

				&>.slick-slide {
					align-items: center;
					display: inline-flex;
					height: 100%;
					justify-content: center;
					max-height: 100%;
					position: relative;

					&>div {
						@include cover;
						display: flex;
					}
				}
			}
		}
	}
}