@font-face {
  font-family: "Roboto Black";
  src: url("./fonts/Roboto-Black.woff2") format("woff2"), url("./fonts/Roboto-Black.woff") format("woff"), url("./fonts/Roboto-Black.ttf") format("ttf");
}
@font-face {
  font-family: "Roboto Regular";
  src: url("./fonts/Roboto-Regular.woff2") format("woff2"), url("./fonts/Roboto-Regular.woff") format("woff"), url("./fonts/Roboto-Regular.ttf") format("ttf");
}
/* line 34, sass/_app.scss */
html {
  font-size: calc(5px + 0.3125vw);
  line-height: 140%;
}
/* line 38, sass/_app.scss */
html * {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

/* line 45, sass/_app.scss */
body {
  background-color: #000;
  border: 0 none;
  display: block;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

/* line 54, sass/_app.scss */
#global,
main {
  background-color: #000;
  display: flex;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

/* line 63, sass/_app.scss */
#app {
  background: linear-gradient(to bottom, #250000 0%, #03001C 50%, #011E26 100%);
  display: flex;
  height: 100vh;
  left: 50%;
  max-height: 768px;
  max-width: 1024px;
  overflow: hidden;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  z-index: 10;
}
/* line 77, sass/_app.scss */
#app > .inner {
  flex: 0 0 100%;
  height: 100%;
  left: 0;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  background: linear-gradient(to bottom, #250000 0%, #03001C 50%, #011E26 100%);
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
/* line 98, sass/_app.scss */
#splash {
  flex: 0 0 100%;
  height: 100%;
  left: 0;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  animation: fadeOut 2s ease-in 4s forwards;
  background: linear-gradient(to bottom, #250000 0%, #03001C 50%, #011E26 100%);
  display: flex;
  flex-flow: column nowrap;
  opacity: 1;
  pointer-events: none;
  position: relative;
  user-select: none;
  z-index: 100;
}
/* line 111, sass/_app.scss */
#splash .logo {
  height: 50vmin;
  width: 50vmin;
}

/* line 117, sass/_app.scss */
#offline {
  height: 50%;
  left: 25%;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  top: 25%;
  user-select: none;
  width: 50%;
  z-index: 1;
}
/* line 128, sass/_app.scss */
#offline img {
  height: 100%;
  left: 0;
  object-fit: cover;
  opacity: 0.05;
  position: absolute;
  top: 0;
  width: 100%;
}

@media only screen and (orientation: portrait) {
  /* line 140, sass/_app.scss */
  #app {
    height: 100vw;
    transform: translate(-50%, -50%) rotate(90deg);
    width: 100vh;
  }
}
@keyframes tilePress {
  0% {
    transform: scale(1);
  }
  20% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
/* line 17, sass/_main.scss */
.main_slider {
  position: relative;
  z-index: 1;
}
/* line 21, sass/_main.scss */
.main_slider,
.main_slider .slick-list,
.main_slider .slick-track {
  height: 100%;
}
/* line 27, sass/_main.scss */
.main_slider h1 {
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  color: #83DBE7;
  color: purple;
  font-family: "Roboto Black", Arial Black, Helvetica, sans-serif;
  font-size: 60px;
  font-variant: small-caps;
  height: 20%;
  margin: 0;
  padding: 50px 0 0;
  text-align: center;
  text-transform: lowercase;
  user-select: none;
  width: 100%;
}
/* line 44, sass/_main.scss */
.main_slider > .slick-list > .slick-track {
  align-items: stretch;
  display: flex;
}
/* line 48, sass/_main.scss */
.main_slider > .slick-list > .slick-track > .slick-slide {
  align-items: center;
  display: inline-flex;
  height: 100%;
  justify-content: center;
  max-height: 100%;
  position: relative;
}
/* line 56, sass/_main.scss */
.main_slider > .slick-list > .slick-track > .slick-slide > div {
  flex: 0 0 100%;
  height: 100%;
  left: 0;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
}
/* line 64, sass/_main.scss */
.main_slider .slide {
  flex: 0 0 100%;
  height: 100%;
  left: 0;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 67, sass/_main.scss */
.main_slider .slide .tile_set {
  align-content: center;
  align-items: center;
  display: flex !important;
  flex-flow: row wrap;
  height: 80%;
  justify-content: center;
  margin: 0 10%;
  max-width: 80%;
  width: 80%;
}
/* line 79, sass/_main.scss */
.main_slider .slide .tile {
  background: transparent none;
  border: 0 none;
  display: inline-flex;
  flex: 0 0 calc(33.333333% - 1rem);
  margin: 0.4rem 0.5rem;
  padding: 0;
  width: calc(33.333333% - 1rem);
}
/* line 88, sass/_main.scss */
.main_slider .slide .tile .gatsby-image-wrapper {
  height: 100% !important;
  pointer-events: none;
  width: 100% !important;
}
/* line 94, sass/_main.scss */
.main_slider .slide .tile.active {
  animation: tilePress 0.6s ease-out 0s forwards;
}
/* line 100, sass/_main.scss */
.main_slider .slide.products .tile {
  flex: 0 0 calc(20% - 1rem);
  width: calc(20% - 1rem);
}
/* line 107, sass/_main.scss */
.main_slider .slide.programmatic .tile {
  flex: 0 0 calc(22% - 1rem);
  width: calc(22% - 1rem);
}
/* line 114, sass/_main.scss */
.main_slider .slide.verticals .tile_set {
  margin: 0 16%;
  max-width: 68% !important;
  width: 68% !important;
}

/* line 1, sass/_section_slider.scss */
.section_slider {
  background-color: rgba(0, 20, 100, 0.5);
  height: 100%;
  left: 0;
  opacity: 0.1;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translateY(100%);
  transition: transform 1s ease-out, opacity 1s ease-out;
  width: 100%;
  z-index: 100;
}
/* line 14, sass/_section_slider.scss */
.section_slider.active {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0%);
}
/* line 20, sass/_section_slider.scss */
.section_slider .inner {
  height: 80%;
  left: 10%;
  position: absolute;
  top: 10%;
  width: 80%;
}
/* line 28, sass/_section_slider.scss */
.section_slider .slick-list,
.section_slider .slick-track {
  height: 100%;
  width: 100%;
}
/* line 34, sass/_section_slider.scss */
.section_slider > .slick-slider {
  flex: 0 0 100%;
  height: 100%;
  left: 0;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
}
/* line 39, sass/_section_slider.scss */
.section_slider > .slick-slider > .slick-list > .slick-track {
  align-items: stretch;
  display: flex;
}
/* line 43, sass/_section_slider.scss */
.section_slider > .slick-slider > .slick-list > .slick-track > .slick-slide {
  align-items: center;
  display: inline-flex;
  height: 100%;
  justify-content: center;
  max-height: 100%;
  position: relative;
}
/* line 51, sass/_section_slider.scss */
.section_slider > .slick-slider > .slick-list > .slick-track > .slick-slide > div {
  flex: 0 0 100%;
  height: 100%;
  left: 0;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
}

/* line 1, sass/_client_slide.scss */
.client_slide {
  align-items: stretch;
  background: linear-gradient(to bottom, #250000 0%, #03001C 50%, #011E26 100%);
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}
/* line 8, sass/_client_slide.scss */
.client_slide .hero {
  display: flex;
  flex: 0 0 60%;
  height: 100%;
  max-width: 100vh;
  opacity: 0;
  overflow: hidden;
  position: relative;
  transition: opacity 1s ease-out 0.3s;
  width: 60%;
  z-index: 100;
}
/* line 20, sass/_client_slide.scss */
.client_slide .hero .bg {
  flex: 0 0 100%;
  height: 100%;
  left: 0;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1;
}
/* line 28, sass/_client_slide.scss */
.client_slide .hero .bg.active {
  opacity: 1;
}
/* line 34, sass/_client_slide.scss */
.client_slide .gallery {
  align-items: center;
  bottom: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  opacity: 1;
  pointer-events: all;
  position: absolute;
  right: 10px;
  transition: opacity 0s linear 0s;
  z-index: 1000;
}
/* line 47, sass/_client_slide.scss */
.client_slide .gallery .thumb {
  background-color: #000;
  background-size: cover;
  border: 3px solid #000;
  border-radius: 20px;
  display: inline-block;
  flex: 1 1 100%;
  height: 72px;
  margin-left: 10px;
  max-height: 7vmax;
  max-width: 9vmax;
  opacity: 1;
  overflow: hidden;
  padding: 0;
  pointer-events: all;
  width: 90px;
}
/* line 64, sass/_client_slide.scss */
.client_slide .gallery .thumb.active {
  border-color: #7BC;
}
/* line 68, sass/_client_slide.scss */
.client_slide .gallery .thumb img {
  height: 100%;
  object-fit: cover;
  object-position: center center;
  opacity: 1;
  width: 100%;
}
/* line 78, sass/_client_slide.scss */
.client_slide .content {
  display: flex;
  flex: 0 0 40%;
  flex-flow: column nowrap;
  font-size: 100px;
  height: fit-content;
  justify-content: center;
  max-width: 40%;
  opacity: 0;
  padding: 6vh 3%;
  position: relative;
  transition: opacity 0.4s ease-out 0.4s;
  user-select: none;
  width: 40%;
  z-index: 10;
}
/* line 94, sass/_client_slide.scss */
.client_slide .content h1 {
  color: #83DBE7;
  display: inline-block;
  font-family: "Roboto Black", Arial Black, Helvetica, sans-serif;
  font-size: .6em;
  font-variant: small-caps;
  left: -2px;
  line-height: 80%;
  margin: 0 0 30px;
  position: relative;
  text-transform: lowercase;
  top: 0;
  transform: none;
  width: fit-content;
}
/* line 110, sass/_client_slide.scss */
.client_slide .content > .text {
  color: inherit;
  display: flex;
  flex-flow: column nowrap;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
/* line 118, sass/_client_slide.scss */
.client_slide .content > .text blockquote {
  color: #83DBE7;
  display: inline-block;
  font-family: "Roboto Black", Arial Black, Helvetica, sans-serif;
  font-size: .22em;
  line-height: 120%;
  margin: -20px 0 25px;
}
/* line 126, sass/_client_slide.scss */
.client_slide .content > .text blockquote > p {
  color: inherit;
  display: flex;
  flex-flow: column nowrap;
  font-family: inherit;
  font-size: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: 140%;
  margin: 0;
  padding: 0;
}
/* line 140, sass/_client_slide.scss */
.client_slide .content > .text h1 {
  color: #83DBE7;
  display: inline-block;
  font-family: "Roboto Black", Arial Black, Helvetica, sans-serif;
  font-size: .22em;
  line-height: 120%;
  margin: -20px 0 25px;
  text-transform: uppercase;
}
/* line 150, sass/_client_slide.scss */
.client_slide .content > .text h2 {
  color: #FFF;
  display: inline-block;
  font-family: "Roboto Black", Arial Black, Helvetica, sans-serif;
  font-size: .16em;
  margin: 0 0 .5em;
  text-transform: uppercase;
}
/* line 159, sass/_client_slide.scss */
.client_slide .content > .text p {
  color: #FFF;
  display: inline-block;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: .13em;
  line-height: 150%;
  margin: 0 0 2.4em;
}
/* line 167, sass/_client_slide.scss */
.client_slide .content > .text p.slides_count {
  bottom: 15px;
  margin: 0;
  pointer-events: none;
  position: absolute;
  right: 15px;
}
/* line 178, sass/_client_slide.scss */
.client_slide .content > .text.products p {
  text-transform: capitalize;
}

/* line 186, sass/_client_slide.scss */
.section_slider.programmatic .client_slide .content > .text.products {
  display: none;
}

/* line 190, sass/_client_slide.scss */
.slick-slide.slick-active.slick-current .client_slide .content {
  opacity: 1;
}

/* line 194, sass/_client_slide.scss */
.section_slider.active .client_slide .hero {
  opacity: 1;
}

@media screen and (max-height: 740px) {
  /* line 201, sass/_client_slide.scss */
  .client_slide .hero,
  .client_slide .content {
    flex: 0 0 50%;
    max-width: 50%;
    width: 50%;
  }
  /* line 208, sass/_client_slide.scss */
  .client_slide .gallery .thumb {
    max-width: 8vw;
    width: 80px;
  }
  /* line 214, sass/_client_slide.scss */
  .client_slide .content h1 {
    font-size: 0.5em;
    margin-bottom: 4vh;
  }
  /* line 219, sass/_client_slide.scss */
  .client_slide .content > .text p {
    margin-bottom: 3vh;
  }
}
